.header {
  background-color: #000;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 4rem;
}

.plataform {
  display: flex;
  align-items: center;
}

.plataform p {
  color: #fff;
  font-weight: 700;
  padding: 0 5px;
}

.plataform ul {
  display: flex;
}

.plataform li {
  padding: 0 4px;
}

.plataform span {
  border: 1px solid #fff;
  padding: 5px;
  color: #fff;
}

@media (max-width: 1200px) {
  .menu {
    padding: 0;
    justify-content: space-around;
  }

  .plataform p {
    display: none;
  }

  .menu .sony {
    display: none;
  }
}

@media (max-width: 560px) {
  .menu {
    padding: 0;
    justify-content: space-between;
  }

  .plataform p {
    display: none;
  }

  .menu .sony {
    display: none;
  }
}
