.img-characters {
  padding-bottom: 40px;
}

.slide-characters {
  background: url(../img/bg-characters.png) no-repeat center center/cover;
  background-color: #000000;
  overflow: hidden;
  padding-top: 20px;
  padding: 0 4rem;
}

.card-character {
  width: 100%;
  max-width: 38.4rem;
}

.card-character:hover button {
  bottom: 5.7rem;
  opacity: 1;
}

.image {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 30rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

img {
  transition: transform 0.3s ease;
}

.card-character:hover img {
  transform: scale(1.1);
}

button {
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  border: none;
  outline: none;
  padding: 1rem 1.5rem;
  background-color: #3265ea;
  color: #fff;
  font-weight: 700;
  line-height: 1rem;
  font-size: 1.1rem;
  opacity: 0;
  transition: all 0.5s ease;
}

.info {
  color: #fff;
  line-height: 1.4;
}

.info h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.info span {
  font-size: 0.875rem;
}

@media (max-width: 1900px) {
  .slide-characters {
    padding: 0 18rem;
  }
}
