.introduce {
  background: url(../img/bg-hero.jpg) no-repeat center center/cover;
  color: #fff;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.intro {
  padding: 0 4rem;
  align-items: flex-end;
}

.intro .left .title {
  font-size: 8rem;
  max-width: 50rem;
}

.intro .left p {
  max-width: 60rem;
  color: #fff;
}

.buy {
  display: flex;
}

.buy strong {
  display: block;
  background-color: #fff;
  color: #000;
  padding: 18px 36px;
  font-weight: bold;
  font-size: 2rem;
}

.buy a {
  display: block;
  padding: 18px 36px;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: #fff;
  background-color: #3265e5;
  text-decoration: none;
}

.buy a:hover {
  transform: scale(1.1);
}

.right {
  position: relative;
  top: 4.7rem;
}

.right span {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.right img {
  display: flex;
  margin-bottom: 1rem;
}

.player {
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.205);
}

.play {
  position: absolute;
  bottom: 100px;
  left: 32px;
  opacity: 1;
}

.gif {
  position: relative;
  border: 4px solid #3265e5;
}

.classification {
  display: flex;
  align-self: center;
  gap: 10px;
  padding-top: 25px;
}

.classification p {
  font-size: 1rem;
  max-width: 20rem;
}

@media (max-width: 1200px) {
  .introduce {
    padding-top: 7rem;
    padding-bottom: 10rem;
  }

  .intro {
    padding: 1rem;
  }
  .intro .left .title {
    font-size: 6rem;
  }

  .intro .left p {
    font-size: 1rem;
  }

  .buy {
    align-items: center;
  }

  .buy strong {
    font-size: 1rem;
    padding: 1.1rem 2rem;
  }

  .buy a {
    font-size: 1rem;
    padding: 0.5rem 2rem;
  }
}

@media (max-width: 1100px) {
  .introduce {
    padding-top: 40px;
  }
  .intro {
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro .left {
    padding: 0;
    justify-content: center;
  }

  .intro .left .title {
    font-size: 6rem;
    text-align: center;
  }

  .intro .left .subtitle {
    font-size: 1rem;
    justify-content: center;
  }

  .intro .left p {
    text-align: center;
  }

  .buy {
    text-align: center;
    justify-content: center;
  }

  .buy strong {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  .buy a {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  .right {
    top: 50px;
  }

  .right span {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .introduce {
    padding-top: 40px;
  }
  .intro {
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro .left .subtitle {
    font-size: 1rem;
    text-align: center;
  }

  .intro .left .title {
    font-size: 6rem;
    text-align: center;
  }

  .intro .left p {
    padding: 0 10px;
    text-align: center;
  }

  .buy {
    text-align: center;
    justify-content: center;
  }

  .buy strong {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  .buy a {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
  .buy a:hover {
    transform: none;
  }

  .right {
    top: 50px;
  }
}

@media (max-width: 560px) {
  .introduce {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .intro {
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro .left {
    justify-content: center;
  }

  .intro .left .subtitle {
    font-size: 1rem;
    text-align: center;
  }

  .intro .left .title {
    font-size: 4rem;
    text-align: center;
  }

  .intro .left p {
    padding: 0 10px;
    text-align: center;
  }

  .buy {
    margin-top: -30px;
    display: block;
    text-align: center;
    padding: 2rem;
  }

  .buy strong {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  .buy a {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  .right {
    top: 10px;
    padding: 0 3rem;
  }

  .play {
    top: 170px;
    left: 80px;
  }

  .classification {
    display: flex;
    flex-direction: column;
  }

  .classification img {
    margin: auto;
  }

  .classification p {
    padding-top: 10px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .introduce {
    padding-top: 20px;
  }
  .intro {
    flex-wrap: wrap;
    justify-content: center;
  }

  .intro .left .subtitle {
    font-size: 1rem;
    text-align: center;
  }

  .intro .left .title {
    font-size: 3.5rem;
    text-align: center;
  }

  .intro .left p {
    padding: 0 10px;
    text-align: center;
  }

  .buy {
    text-align: center;
    justify-content: center;
  }

  .buy strong {
    font-size: 1rem;
    padding: 1rem 1.5rem;
  }

  .buy a {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
  .buy a:hover {
    transform: none;
  }

  .right {
    top: 10px;
  }
}
