@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #000000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.left .subtitle {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  color: #fff;
}

.left .title {
  font-size: 3rem;
  margin-bottom: 15px;
}
