.history-game {
  background: url(../img/bg-story.png) no-repeat top center/cover;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 80px;
}

.history {
  padding-top: 4rem;
}

.history .left {
  max-width: 38rem;
  padding: 0 4rem;
}

.left p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 25px 0;
  max-width: 28.5rem;
  color: #a3a3a3;
}

.studios {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.studios p {
  color: #fff;
}

.studios img {
  height: fit-content;
}

.studios p {
  font-size: 1rem;
  margin-left: 2rem;
  max-width: 15rem;
}

.kratos-atreus {
  position: relative;
  top: 50px;
  left: 10px;
}
