.rodape {
  text-align: center;
  background-color: #3256ea;
  padding: 1rem 0;
  p {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 600;
  }

  @media (max-width: 1200px) {
    p {
      font-size: 2rem;
    }
  }
  @media (max-width: 560px) {
    p {
      font-size: 1.6rem;
    }
  }
}
